<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ONLINE-TOOL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>

    <div class="container">


      <form action = "/student" method ="post" >
        <br/><br/><br/>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <label for="email">EMAIL: </label>
              <input type="email" name = "email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter EMAIL">
            </div>
          </div>

          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <label for="password">PASSWORD: </label>
              <input type="password" name = "password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter PASSWORD">
            </div>
          </div>

        </div>
         
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
  	  </form>

    </div>



  </body>
</html>