<form action='/teacher/login/' method='post'>
	<input type="email" name = "email" class="form-control" id="email" placeholder="Enter EMAIL">

	<input type="password" name = "password" id="password" placeholder="Enter PASSWORD">

	<button type="submit">Submit</button>
</form>