<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <title>CURSOS ONLINE </title>
 
     <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="../../../../../static/css/bootstrap.min.css">
 
     <script src="../../../../../static/js/jquery.js"></script>
 
 </head>
 
 <body>
 
     <div class="container">
 
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">CURSOS ONLINE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">
                <span class="sr-only">(current)</span>
                ADDING PROBLEMS IN QUESTION BANK
              </a>

            </li>

          </ul>
        </div>
      </div>
    </nav>

    <br><br><br><br><br>

         <form class="form-signin" action="/instructor/{{data['iid']}}/courses/{{data['cid']}}/{{data['vid']}}/add_problem" method="post" role="form">
             <center><h2 class="form-signin-heading">ADD PROBLEM FOR VIDEO</h2></center><br>
             <input type="text" name="question" class="form-control" placeholder="Question" required autofocus>
             <input type="text" name="opt1" class="form-control" placeholder="opt1" required>
             <input type="text" name="opt2" class="form-control" placeholder="opt2" required>
             <input type="text" name="opt3" class="form-control" placeholder="opt3" required>
             <input type="text" name="opt4" class="form-control" placeholder="opt4" required>
             <input type="text" name="correct" class="form-control" placeholder="correct" required>
             <button class="btn btn-lg btn-primary btn-block" type="submit">Add Problem </button>
         </form>
      
         {% if message %}
            <h5 class="alert alert-warning">{{message}}</h5>
         {% endif %}

     </div>
   
 </body>
 
 </html>