<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <title>Signin Template for Bootstrap </title>
 
     <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
 
     <script src="static/js/jquery.js"></script>
 
 </head>
 
 <body>
 
     <div class="container">
 
         <form class="form-signin" action="/instructor/{{data['iid']}}/courses/{{data['cid']}}/{{data['vid']}}/add_problem" method="post" role="form">
             <h2 class="form-signin-heading">Add Problem for the Video</h2>
             <input type="text" name="question" class="form-control" placeholder="Question" required autofocus>
             <input type="text" name="opt1" class="form-control" placeholder="opt1" required>
             <input type="text" name="opt2" class="form-control" placeholder="opt2" required>
             <input type="text" name="opt3" class="form-control" placeholder="opt3" required>
             <input type="text" name="opt4" class="form-control" placeholder="opt4" required>
             <input type="text" name="correct" class="form-control" placeholder="correct" required>
             <button class="btn btn-lg btn-primary btn-block" type="submit">Add Problem </button>
         </form>
      
     </div>
   
 </body>
 
 </html>