<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <title>CURSOS ONLINE</title>
 
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
 
     <script src="static/js/jquery.js"></script>
 
 </head>
 
 <body>
 
     <div class="container">
 
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">CURSOS ONLINE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
      </div>
    </nav>

    <br><br><br><br>



         <form class="form-signin" action="/student_signup" method="post" role="form">
             <h2 class="form-signin-heading"> <center>SIGN UP </center></h2><br>

             <input type="text" name="name" class="form-control" placeholder="Name" required autofocus value="{{data['name']}}">
             <input type="text" name="address" class="form-control" placeholder="Address" required value="{{data['address']}}">
              <input type="text" name="dob" class="form-control" placeholder="Date of birth : YYYY-MM-DD" required autofocus>
             <input type="text" name="phone_number" pattern="[1-9]{1}[0-9]{9}" class="form-control" placeholder="Phone Number" required autofocus value="{{data['phone_number']}}">
             <input type="text" name="highest_degree" class="form-control" placeholder="Highest Degree" required value="{{data['highest_degree']}}">

             <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus value="{{data['email']}}">
             <input type="password" name="password" class="form-control" placeholder="Password" required value="{{data['password']}}">
 
             <button class="btn btn-lg btn-primary btn-block" type="submit">Register </button>
         </form>

         {% if data['message'] %}
            <h5 class="alert alert-warning">{{data['message']}}</h5>
         {% endif %}
      
     </div>

 </body>
 
 </html>