<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <title>CURSOS ONLINE</title>
 
     <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
 
     <script src="../../static/js/jquery.js"></script>
 
 </head>
 
 <body>


    <div class="container">
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">CURSOS ONLINE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/student/{{data['sid']}}">
                <span class="sr-only">(current)</span>
                <img src = "../../static/images/{{data['image']}}" height='50' width='50' style='border-radius: 50%'>
                Welcome, {{data['name']}}
              </a>

            </li>

          </ul>
        </div>
      </div>
    </nav>

    <br><br>
    <br>
    <!-- <h2>WELCOME {{data['name']}}</h2> -->
    <br><br>
    <ul>
    {% if data['enrolled_courses']|length > 0 %}
        <h4>ENROLLED COURSES</h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Rating</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                {% for i in range(data['enrolled_courses']|length) %}
                    <tr>
                        <td>
                            <a href="/student/{{data['sid']}}/courses/{{data['enrolled_courses'][i].cid}}">{{data['enrolled_courses'][i].cname}}
                            </a>
                        </td>
                        {% if data['enrolled_courses'][i].rating == '1' %}
                        <!-- <td>{{data['enrolled_courses'][i].rating}}</td> -->
                        <td><img src="../../static/images/onestar.png" height="25" width="120"></td>
                        {% elif data['enrolled_courses'][i].rating == '2' %}
                        <td><img src="../../static/images/twostar.png" height="25" width="120"></td>
                        {% elif data['enrolled_courses'][i].rating == '3' %}
                        <td><img src="../../static/images/threestar.png" height="25" width="120"></td>
                        {% elif data['enrolled_courses'][i].rating == '4' %}
                        <td><img src="../../static/images/fourstar.png" height="25" width="120"></td>
                        {% elif data['enrolled_courses'][i].rating == '5' %}
                        <td><img src="../../static/images/fivestar.png" height="25" width="120"></td>
                        
                        {% endif %}
                        <td>{{data['enrolled_courses'][i].description}}</td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    {% endif %}
    </ul>

    <br><br>
    <ul>
    {% if data['other_courses']|length > 0 %}
        <h4>RECOMMENDED COURSES</h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Rating</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>Fees</th>
                <th>Enroll</th>
              </tr>
            </thead>
            <tbody>
                {% for i in range(data['other_courses']|length) %}
                    <tr>
                        <td>{{data['other_courses'][i].cname}}</td>
                        <!-- <td>{{data['other_courses'][i].rating}}</td> -->
                        {% if data['other_courses'][i].rating == '1' %}
                        <td><img src="../../static/images/onestar.png" height="25" width="120"></td>
                        {% elif data['other_courses'][i].rating == '2' %}
                        <td><img src="../../static/images/twostar.png" height="25" width="120"></td>
                        {% elif data['other_courses'][i].rating == '3' %}
                        <td><img src="../../static/images/threestar.png" height="25" width="120"></td>
                        {% elif data['other_courses'][i].rating == '4' %}
                        <td><img src="../../static/images/fourstar.png" height="25" width="120"></td>
                        {% elif data['other_courses'][i].rating == '5' %}
                        <td><img src="../../static/images/fivestar.png" height="25" width="120"></td>
                        {% endif %}
                        <td>{{data['other_courses'][i].description}}</td>
                        <td>{{data['other_courses'][i].start_date}}</td>
                        <td>{{data['other_courses'][i].fees}}</td>
                        <td>
                            <a href="/student/{{data['sid']}}/courses/{{data['other_courses'][i].cid}}/join">
                            <button class="btn btn-primary">
                                Enroll in this Course
                            </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    {% endif %}
    </ul>

     </div>

 </body>
 
 </html>