<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <title>CURSOS ONLINE</title>
 
     <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
 
     <script src="../../../static/js/jquery.js"></script>

 </head>
 
 <body>
 
    <div class="container">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">CURSOS ONLINE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/student/{{data['sid']}}">
                <span class="sr-only">(current)</span>
                COURSE DETAILS
              </a>

            </li>

          </ul>
        </div>
      </div>
    </nav>


    <br><br><br><br>
    
    <center><h3>COURSE VIDEOS</h2></h3></center>

    <ul>
    {% for i in range(data['videos']|length) %}
        <li>
            <a href="/student/{{data['sid']}}/courses/{{data['cid']}}/{{data['videos'][i].vid}}">TOPIC : {{data['videos'][i].topic}}</a>
        </li>
    {% endfor %}  
    </ul>
    

    <br><br>
    {% if data['feedback'].rating == "-1" %}
        <form class="form-signin" action="/student/{{data['sid']}}/courses/{{data['cid']}}/feedback" method="post" role="form">
            <h2 class="form-signin-heading">Give Feedback</h2>
            <input type="text" name="rating" class="form-control" placeholder="Rating" required autofocus>
            <input type="text" name="description" class="form-control" placeholder="Description" required>
        
            <button class="btn btn-lg btn-primary btn-block" type="Submit">Submit Feedback</button>
        </form>
    {% else %}
        <center><h3>YOUR FEEDBACK</h3></center>
            Rating : {{data['feedback'].rating}} <br>
            Description : {{data['feedback'].description}}<br>
            Date : {{data['feedback'].date}}<br>
            <br>
    {% endif %}

    {% if message %}
        <h5 class="alert alert-warning">{{message}}</h5>
    {% endif %}


    </div>

 </body>
 
 </html>